.contenedor-titulos {
    background-color: blue;
    color: white;
}

.card {
    width: 50%;
    background-color: violet;
    font-size: 100px;
    color: white;
    font-weight: bold;
    font-style: italic;
    border: 1px solid black;
}

.card-roja {
    background-color: red;
}